* {
    box-sizing: border-box;
}

a, text-link {
    text-decoration: none;
    color: #333e44;
}

.hide {
    display: none;
}

.aside-content ul {
    list-style: none;
}

.nav-container {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333e44;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    font-weight: 400;
}

.nav-row {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.dqdt-sidebar {
    -ms-flex: 0 0 26%;
    flex: 0 0 26%;
    max-width: 22%;
    height: 1000px;
}

.dqdt-sidebar .filter-content{
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 10px 20px 10px;
    height: 100%;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    width: 100%;
    margin-bottom: 20px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter {
    width: 100%;
    border-bottom: 1px dashed #F2F2F2;
    margin-bottom: 10px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-header {
    margin-bottom: 5px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-header-title {
    font-size: 1.15rem;
    font-weight: bold;
    color: #E95221;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__clear-all {
    float: right;
    color: #000;
    margin-top: 0px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__clear-all i svg {
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 1px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__clear-all i svg path {
    fill: #666;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__clear-all:hover i svg path {
    fill: #E95211;
}


.filter-content .filter-container .filter-container__selected-filter-header a:hover {
    color: #E95211;
}


.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul {
    padding-left: 0px;
    overflow: hidden;
    margin-bottom: 10px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    background: #E95221;
    color: #fff;
    padding: 0 5px;
    margin-bottom: 5px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li a {
    color: #fff;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item>a {
    color: #333;
    font-size: em(13px);
    position: relative;
    padding-left: 15px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item .fa {
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872 c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872 c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052 L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116 c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952 c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116 c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 20px;
    height: 9px;
    display: block;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 0px;
}

.dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li .fa {
    filter: invert(1);
}


.dqdt-sidebar .filter-content .filter-container .aside-item{
    width: 100%;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px dashed #F2F2F2;
    margin-bottom: 10px;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-title {
    position: relative;
    margin-bottom: 10px;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-title h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.aside-item .aside-title h2 {
    font-family: "Arial", sans-serif;
    width: 100%;
    font-size: 16px !important;
    margin: 0;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
    padding: 0px;
    position: relative;
    color: #333e44;
    text-transform: uppercase;
}

.aside-item .aside-content {
    padding: 0px 0px 0;
    border-top: none;
    border-radius: 0px;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    max-height: 170px;
    overflow: hidden;
    overflow-y: auto;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul li:hover {
    color: #E95211;
}


.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item {
    margin-bottom: 10px;
    padding-left: 24px;
    position: relative;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item label {
    width: 100%;
    font-size: 14px;
    color: #282828;
    margin-bottom: 0px;
    cursor: pointer;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox] {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    position: absolute;
    top: 3px;
    left: 2px;
    box-sizing: border-box;
}

.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item:hover label {
    color: #E95211; /* Màu của chữ khi hover */
}

/* Thay đổi màu nền của thanh cuộn */
.dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
    background-color: #f5f5f5; /* Màu nền của thanh cuộn */
  }
  
  /* Thay đổi màu của nút cuộn */
  .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul::-webkit-scrollbar-thumb {
    background-color: #E95211; /* Màu của nút cuộn */
    border-radius: 4px; /* Độ cong của góc nút cuộn */
  }
  
  /* Hover màu nút cuộn */
  ul::-webkit-scrollbar-thumb:hover {
    background-color: #c13e00; /* Màu của nút cuộn khi di chuột vào */
  }

.block-collection {
    flex: 0 0 74%;
    max-width: 74%;
    margin-left: 20px;
}

.titile-page {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background: #f7f8f9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.category-product {
    min-height: 200px;
}

#sort-by {
    float: right;
    font-size: 12px;
    text-align: left;
    position: relative;
    margin-top: -50px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f7f8f9;
    border: 1px solid #f7f8f9;
    color: #777;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
}

#sort-by label {
    float: left;
    line-height: 30px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
    font-weight: 500;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

#sort-by #sortBy {
    border: none;
    padding: 0px;
    height: 36px;
    outline: none;
    background-color: transparent !important;
    color: #E95221;
}

#sort-by ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float: right;
}

#sort-by>ul>li {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
    text-indent: .01px;
    cursor: pointer;
    line-height: 36px;
    background-image: url(../images/ico-select.png) !important;
}

#sort-by li {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    margin: 0 auto;
    outline: medium none;
    padding: 0 5px;
    position: relative;
    width: auto;
    float: left;
    color: #333;
    font-size: 14px;
}

#sort-by ul ul {
    position: absolute;
    display: none;
    right: -6px;
    top: 35px;
    background: none repeat scroll 0 0 #F8F8F8;
    z-index: 10000;
    border-top: none;
    border: 1px #e1e1e1 solid;
    width: 170px;
}

#sort-by li li {
    width: 100%;
    margin-top: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#sort-by a:link, #sort-by a:visited {
    color: #333;
    text-decoration: none;
}

#sort-by li>a {
    display: inline-block;
    width: 100%;
    line-height: 30px;
}

.contentitem {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px; /* Adjust the gap between items as needed */
    justify-content: center;
}

.item {
    height: 250px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.content__paging {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
}

.content__paging .active {
    background-color: #E95211;
    border: 1px solid #E95211;
}

.content__paging .active a {
    color: white;
}

.content__paging ul {
    display: flex;
    justify-content: center;
}

.content__paging li {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid gray
}

.content__paging li:hover {
    background-color: #E95211;
    border: 1px solid #E95211;
    color: white;
}

.content__paging li:hover a {
    color: white;
}

.content__paging .number-page {
    display: flex;
}

.content__paging .page {
    margin-left: auto;
}


.item_product_main {
    margin-bottom: 20px;
    position: relative;
}

.item_product_main .product-thumbnail {
    position: relative;
    overflow: hidden;
}

.item_product_main .product-thumbnail .product_overlay {
    content: "";
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    opacity: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.item_product_main .product-info {
    margin: 5px 0 5px;
    position: relative;
}

.item_product_main .product-info h3 {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-overflow: ellipsis;
    color: #333e44;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 3px;
    padding-bottom: 3px;
    line-height: 22px;
    text-transform: capitalize;
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
}

.item_product_main .product-info h3 a {
    color: #333e44;
}

.item_product_main .product-info .price-box-nav {
    color: #e8002d;
    line-height: 23px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    min-height: 25px;
}

.item_product_main .product-info .price-box-nav .price {
    padding-right: 5px;
}

.item_product_main .product-info h3 a:hover {
    color: #E95211;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.product-view {
    margin-top: 20px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}