*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 130px;
    display: block;
    justify-content: space-between;
}
.header_contentTop{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;

    height: 65%;
}
.logo{
    padding: 0 25px;
    cursor: pointer;
}
.left_header_contentTop{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_header_contentTop > a{
    font-size: 16px;
    font-weight: bold;
    color: #E95221;
    width: 280px;
}
.center_header_contentTop{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center_header_contentTop > li{
    height: 30px;
    width: 360px;
    position: relative;
}
    
.center_header_contentTop > li input{
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.center_header_contentTop > li input::placeholder {
    text-align: left;
    padding-left: 20px; 
}
.center_header_contentTop > li i{
    font-size: 20px;
    position: absolute;
    right: 5px;
    margin-top: 5px;
}

.right_header_contentTop{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_header_contentTop > li{
    padding: 0 12px;

}

.right_header_contentTop > li i{
    padding: 0 12px;
    font-size: 25px;
}
.icon-item {
    text-align: center;
    margin: 0 20px;
    margin-top: 25px;
    height: 75%;
    
}
.icon-item a{
    color: #000;
}
.icon-item > li i{
   font-size: 20px;
   position: relative;
}
.icon-name {
    display: block;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
}
.submenu_user {
    background: #ffffff;
    display: block;
    position: absolute;
    height: 55px;
    width: 130px;
    z-index: 1;
    transform: translateX(-40px);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    visibility: hidden;
}

.icon-item li:hover .submenu_user {
    visibility: visible;
}

.submenu_user li:hover {
    background: #E95221;
    color: #ffffff !important;
    border: 0.1px solid #ffffff;
    border-radius: 5px;
}
.submenu_user li:hover a{
    color: #ffffff;
}
.submenu_user > li {
    height: 50%;
    padding: 5px 0;
    border: 0.1px solid #ffffff;
    border-radius: 5px;
}
.submenu_check{
    background: #ffffff;
    position: absolute;
    height: 30px;
    width: 150px;
    z-index: 1;
    transform: translateX(-40px);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    visibility: hidden;
}
.icon-item li:hover .submenu_check {
    visibility: visible;
}

.submenu_check li:hover {
    background: #E95221;
    color: #ffffff !important;
    border: 0.1px solid #ffffff;
    border-radius: 5px;
}
.submenu_check li:hover a{
    color: #ffffff;
}
.submenu_check > li {
    /*height: 50%;*/
    padding: 5px 0;
    border: 0.1px solid #ffffff;
    border-radius: 5px;
}

.header_contentBottom{
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E95221;
    
}
.header_contentBottom > li{
    position: relative;
}

.submenu{
    position: absolute;
    width: 650px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    margin-top: 20px;
    transform: translateX(-300px);
    visibility: hidden;
    z-index: 1;
    background: #ffffff;
    border-radius: 10px;
}   
.header_contentBottom > li:hover .submenu{
    visibility: visible;
}
.submenu > li{
    padding: 15px 0 50px 50px;

}
.submenu > li a{
    padding: 50px 15px 5px 5px;
    color: #E95221;
    font-weight: bold; 
    border-bottom: 1px #ccc solid;
}
.menu_item > li{
    padding: 10px 0 5px 5px;
   
}

.titlemenu{
    color: #ffffff;
    font-weight: bold;
    
}


.wrapper{
    height: 2000px;
    display: block;

}
#main{
    height: 80%;
    width: 100%;
}

.footer{
    height: 20%;  
    width: 100%;
    background: #000;
}

/*back to top button */

.back-to-top
{
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, rgba(255, 0, 0,.8), rgba(255, 165, 0,.8));
  border-radius: 20px;
  position: fixed;
  opacity: 0;
  transform: translateY(15px);
  right:50px;
  bottom: 50px;
  font-size: 20px;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .6) ;
  transition: ease .3s;
  pointer-events: none;
  right: 20px;
  bottom: 20px;
}

.back-top-top-icon {
  width: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;

}

.back-top-top-icon:hover {
    color: white; 
  }
.back-to-top:hover {
  cursor: pointer;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .8) ;

}

.open {
  pointer-events: visible;
  opacity: 1;
  transform: translateY(0);

}

html {
    scroll-behavior: smooth;
}
